<div class="card">
	<div class="card-header" onclick="window.location = '{{ include.post.url | relative_url }}'">
		{%- assign date_format = site.minima.date_format | default: "%d %-b %Y" -%}
		<h3 class="card-title">{{ include.post.title | escape }}</h3>
		<span class="card-subtitle mb-2 text-muted pull-right">{{ include.post.date | date: date_format }}</span>
	</div>
	<div class="card-body card-image" style="">
		<img src="{{ site.url }}{{ include.post.image }}" class="img img-responsive" />
		<p class="card-text">{{ include.post.excerpt }}</p>
	</div>
	<div class="card-footer">
		<a href="{{ include.post.url | relative_url }}" class="card-link">Read more</a>
	</div>
</div>
<br>
