<div class="row col">
	<a href="https://github.com/ilanolkies" target="_blank" class="social-link social-github">
	  <span class="fab fa-github"></span>
	</a>
	<a href="https://www.linkedin.com/in/ilanolkies" target="_blank" class="social-link social-linkedin">
	  <span class="fab fa-linkedin"></span>
	</a>
	<a href="https://www.twitter.com/ilanolkies" target="_blank" class="social-link social-twitter">
	  <span class="fab fa-twitter"></span>
	</a>
	<a href="http://stackoverflow.com/users/5078258/ilan-olkies" target="_blank" class="social-link social-stackoverflow">
	  <span class="fab fa-stack-overflow"></span>
	</a>
</div>
