---
---

@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/bootstrap";
@import "minima";

.align-middle{
	vertical-align: middle;
}

.social-link {
	color: inherit;
	transition: color 0.3s ease;
	padding: 5px;
	font-size: 20px;
}

	.social-link:hover {
		filter: brightness(80%);
	}

.social-github, .social-github:hover, .social-github:visited {
	color: #24292e;
}

.social-twitter, .social-twitter:hover, .social-twitter:visited {
	color: rgb(29, 161, 242);
}

.social-linkedin, .social-linkedin:hover, .social-linkedin:visited {
	color: #0077B5;
}

.social-stackoverflow, .social-stackoverflow:hover, .social-stackoverflow:visited {
	color: #F48024;
}

.rss, .rss:hover, .rss:visited {
	color: #f26522
}

.twitter-share-button[style] { vertical-align: text-bottom !important; }

.zoom-image {
    transition: transform .2s; /* Animation */
    height: 200px;
    margin: 0 auto;
}

.zoom-image:hover {
    transform: scale(3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
